/*
	_color.less
	----------
	for defining color variables
	----------
		gray-scale
		warm colors
		color colors
*/
/*
	_fx.less
	----------
	for commonly used CSS "effects"
	----------
		.shadow (box-shadow)
		.txt-shadow (txt-shadow)
		.boxsize (box-sizing)
		.corners (border-radius)
		.grade (linear-gradient)
		.diagonal (linear-gradient, specifically for creating a repeating diagonal background)
		.ts (transition)
		.tf (transform)
*/
/*
	_reset.less
	----------
	for normalizing cross-browser HTML elements
*/
section,
nav {
  display: block;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
fieldset,
figure,
ol,
p,
ul,
select,
input,
pre {
  margin: 0;
  padding: 0;
}
a,
input:focus,
textarea:focus {
  outline: 0;
}
a img,
fieldset {
  border: 0;
}
abbr {
  cursor: help;
}
body {
  font: normal normal 14px 'Helvetica', 'Arial', Sans-Serif;
}
code,
pre {
  font-family: 'New Courier', 'Courier', Monospace;
}
em,
i,
strong {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
ins {
  text-decoration: none;
}
img {
  max-width: 100%;
}
table {
  border-spacing: 0;
  width: 100%;
}
th {
  text-align: left;
}
blockquote,
dl,
ol,
p,
ul {
  margin: 20px 0;
}
input,
table,
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
	_typo.less
	----------
	for baseline typography
	----------
		font face(s)
		font stack variables
*/
@font-face {
  font-family: 'Glyphicons Regular';
  src: url('../fonts/glyphicons-regular.eot');
  src: url('../fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-regular.woff') format('woff'), url('../fonts/glyphicons-regular.ttf') format('truetype'), url('../fonts/glyphicons-regular.svg#glyphiconsregular') format('svg');
  font-style: normal;
  font-weight: normal;
}
.fam-ico {
  font-family: 'Glyphicons Regular';
}
.fam-mono {
  font-family: 'New Courier', 'Courier', Monospace;
}
.fam-sans {
  font-family: 'Helvetica', 'Arial', Sans-Serif;
}
/*
	_grid.less
	----------
	for defining the baseline grid
	----------
		max/min width variables
		gutter variables
		view-port control
		----------
		.clear
		.snap
		.col
		.col-width
*/
@viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
.clear {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  visibility: hidden;
}
.snap {
  margin: 0 auto;
  max-width: 1200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snap:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  visibility: hidden;
}
.col {
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.col.last {
  margin-bottom: 0;
}
/*
	_box.less
	----------
	define base box
	----------
		.box
*/
.box {
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.02);
}
.box .col {
  margin-bottom: 0;
}
.box.full {
  background-color: transparent;
  border: 0;
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.box.full .tbl-ctrls {
  padding: 0;
}
.box.full .tbl-ctrls h1 {
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
}
.box.move:hover {
  border-color: #329bdd;
}
.box:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  visibility: hidden;
}
/*
	_breadcrumb.less
	----------
	define breadcrumbs
	----------
		.breadcrumb
*/
.breadcrumb {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  list-style-type: none;
  margin: 0 0 10px;
  padding: 10px;
}
.breadcrumb li {
  color: #b5b5b5;
  display: block;
  float: left;
}
.breadcrumb li:after {
  content: '\00A0\002F\00A0';
}
.breadcrumb li.last:after {
  content: '';
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  visibility: hidden;
}
/*
	_elements.less
	----------
	define elements
	----------
		body
		a
		h1
		h2
		mark
		abbr
		var
		ul
*/
body {
  background-color: #f9f9f9;
  color: #000000;
}
a {
  color: #329bdd;
}
a:hover {
  color: #000000;
}
a.add {
  color: #7baf55;
}
a.remove {
  color: #bc4848;
}
h1 {
  border-bottom: 1px solid #e8e8e8;
  color: #808080;
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9);
  background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9);
  background-image: linear-gradient(top, #ffffff, #f9f9f9);
}
h1 i {
  color: #808080;
  font-size: 14px;
  font-style: normal;
}
h2 {
  position: relative;
}
mark {
  background-color: #ffefa7;
}
abbr {
  border-bottom: 1px dotted #e8e8e8;
}
var {
  font-style: normal;
  font-family: 'New Courier', 'Courier', Monospace;
}
ul.arrow-list {
  list-style-type: none;
  margin: 15px 0 15px 10px;
}
ul.arrow-list li {
  line-height: 1.5;
}
ul.arrow-list li:before {
  color: #b3b3b3;
  content: '\279C\00A0';
}
/*
	_sidebar.less
	----------
	for the sidebar
	----------
		sidebar
*/
.sidebar {
  background-color: #f7fdff;
  border-color: #b5e8ff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.sidebar h2 {
  background-color: #e8f8ff;
  border-bottom: 1px solid #b5e8ff;
  color: #329bdd;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.sidebar h2:first-child {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.sidebar h2:last-child {
  border-bottom: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.sidebar h2.solo {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sidebar h2 .btn {
  right: 5px;
  top: 6px;
}
.sidebar h3 {
  background-color: #e8f8ff;
  border: solid #b5e8ff;
  border-width: 0 0 1px;
  color: #329bdd;
  font-size: 12px;
  padding: 5px 10px;
}
.sidebar > ul {
  border-bottom: 1px solid #b5e8ff;
  list-style-type: none;
  margin: 0 0 0;
  padding: 10px 0 10px 10px;
}
.sidebar > ul:last-child {
  border-bottom: 0;
}
.sidebar > ul li {
  font-size: 12px;
  padding: 5px 5px 5px 0;
}
.sidebar > ul li:before {
  color: #89c6ec;
  content: '\E188';
  font-size: 10px;
  margin-right: 5px;
  position: relative;
  top: 1px;
  font-family: 'Glyphicons Regular';
}
.sidebar > ul li.remove a {
  color: #bc4848;
}
.sidebar > ul li.remove a:hover {
  color: #000000;
}
.sidebar > ul li.remove:before {
  color: #bc4848;
  content: '\E208';
}
.sidebar .scroll-wrap {
  border-bottom: 1px solid #cbe6f6;
}
.sidebar .scroll-wrap:last-child {
  border-bottom: 0;
}
.sidebar .folder-list {
  margin: 0;
}
.sidebar .folder-list li {
  border-bottom: 1px solid #cbe6f6;
  font-size: 14px;
  padding: 5px 10px 6px;
  position: relative;
}
.sidebar .folder-list li a {
  text-decoration: none;
}
.sidebar .folder-list li:last-child {
  border-bottom: 0;
}
.sidebar .folder-list li:before {
  color: #9fd0ef;
  content: '\E441';
  font-size: 12px;
  padding-right: 5px;
  font-family: 'Glyphicons Regular';
}
.sidebar .folder-list li.default b {
  color: #ff6600;
  font-weight: normal;
}
.sidebar .folder-list li.default:before {
  color: #ff6600;
  content: '\E146';
}
.sidebar .folder-list li.act {
  background-color: #fff8da;
}
.sidebar .folder-list li.act:before {
  color: #329bdd;
  content: '\E145';
}
.sidebar .folder-list li.no-results {
  border-width: 0;
  margin: 0;
  padding: 15px 10px 18px;
}
.sidebar .folder-list li.no-results:before {
  content: '';
  padding-right: 0;
}
.sidebar .folder-list .toolbar {
  position: absolute;
  right: 3px;
  top: 4px;
}
.sidebar .folder-list .toolbar li {
  border: 0;
  padding: 0;
}
.sidebar .folder-list .toolbar li a {
  padding: 1px 5px;
}
.sidebar .folder-list .toolbar li:before {
  content: '';
  padding: 0;
}
.reg-mark {
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -10px;
}
.docs-content h1 {
  color: #000000;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
}
.docs-header {
  background-color: #329bdd;
  color: #cbe6f6;
  border-top: 5px solid #1f80bd;
  margin-bottom: 20px;
  padding: 20px 20px 10px;
  position: relative;
}
.docs-header abbr {
  border: 0;
}
.docs-header h1 {
  border: 0;
  color: #d8ecf9;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 20px;
  padding: 0;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
}
.docs-header .small-menu {
  background-color: #238fd3;
  color: #ffffff;
  display: block;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  text-decoration: none;
  top: 15px;
}
.docs-header .small-menu.act,
.docs-header .small-menu:hover {
  background-color: #f9f9f9;
  color: #0d364f;
}
.docs-header .small-menu:after {
  content: '\E159';
  font-family: 'Glyphicons Regular';
}
.docs-header .search {
  padding: 0 0 10px;
}
.docs-header .search input[type='text'] {
  border: 1px solid #1f80bd;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.docs-header:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  visibility: hidden;
}
.docs-footer {
  background-color: #808080;
  border-bottom: 5px solid #676767;
  margin: 0;
  padding: 20px 20px 15px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.docs-footer abbr {
  border: 0;
}
.docs-footer p {
  color: #cfcfcf;
  font-size: 14px;
  margin: 0;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.docs-footer p:first-child {
  float: left;
}
.docs-footer p:last-child {
  float: right;
}
.docs-footer p span {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.docs-footer a {
  color: #cfcfcf;
  text-decoration: none;
}
.docs-footer a:hover {
  color: #ffffff;
}
.docs-footer a.scroll:before {
  content: '\E601';
  font-family: 'Glyphicons Regular';
}
.docs-footer .reg-mark {
  font-size: 11px;
  top: -5px;
}
.docs-footer:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  visibility: hidden;
}
.sidebar {
  position: absolute;
  z-index: 1;
}
.sidebar h1 {
  background-color: #cef0ff;
  border-bottom: 1px solid #b5e8ff;
  color: #329bdd;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
.sidebar h1:first-child {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.sidebar h1:last-child {
  border-bottom: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.sidebar h1.solo {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sidebar h1 .btn {
  right: 5px;
  top: 6px;
}
.sidebar h3 {
  background-color: #f2fbff;
  padding: 10px;
}
.sidebar .download {
  background-color: #e8f8ff;
  border-bottom: 1px solid #b5e8ff;
  padding: 10px;
}
.docs-content {
  padding: 0 20px;
}
.content-main {
  background-color: #f9f9f9;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 3;
}
.content-main.sbl-slide {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transform: translate(310px);
  -webkit-transform: translate(310px);
  transform: translate(310px);
}
.content-main.sbr-slide {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transform: translate(-310px);
  -webkit-transform: translate(-310px);
  transform: translate(-310px);
}
.content-main h1,
.content-main h2,
.content-main h3,
.content-main h4,
.content-main h5,
.content-main h6 {
  color: #114565;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
}
.content-main h1:hover .headerlink,
.content-main h2:hover .headerlink,
.content-main h3:hover .headerlink,
.content-main h4:hover .headerlink,
.content-main h5:hover .headerlink,
.content-main h6:hover .headerlink {
  display: inline-block;
}
.content-main h1 {
  font-size: 18px;
  margin: 0 0 20px;
}
.content-main p,
.content-main ul:not(.breadcrumb) {
  margin: 15px 0;
}
.content-main ul:not(.breadcrumb),
.content-main ol {
  margin-left: 40px;
}
.content-main p,
.content-main li {
  line-height: 1.5;
}
.content-main .section .section {
  margin-left: 20px;
}
.headerlink {
  border: 0;
  display: none;
  font-size: 14px;
  margin-left: 10px;
}
.cp-path {
  background-color: #fff8da;
  border: 1px solid #ffdc41;
  padding: 5px 10px;
}
.cp-path strong {
  color: #745f00;
}
.cp-path em {
  font-style: normal;
}
.dfn {
  background-color: #fffdf3;
  border: 1px dotted #f3c700;
  font-style: normal;
  font-weight: normal;
  padding: 5px 10px;
}
.footer {
  border-top: 1px solid #dbdbdb;
  color: #808080;
  font-size: 12px;
  padding: 20px 20px 40px;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9);
  background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9);
  background-image: linear-gradient(top, #ffffff, #f9f9f9);
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.04) inset;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.04) inset;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.04) inset;
}
.footer p {
  margin: 0 0 10px;
}
.admonition {
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  border-left-width: 1px;
  margin: 15px 0;
  padding: 10px 15px 0;
}
.admonition p {
  margin: 0 0 10px;
}
.admonition ul {
  margin: 0 0 10px 40px;
}
.admonition .admonition-title {
  font-weight: bold;
}
.admonition .admonition-title:before {
  color: #ff6600;
  content: '\E079';
  font-size: 12px;
  font-weight: normal;
  line-height: 0;
  margin-right: 5px;
  position: relative;
  top: 0;
  font-family: 'Glyphicons Regular';
}
.admonition.attention {
  background-color: #e5f7bf;
  border-color: #7baf55;
}
.admonition.attention .admonition-title {
  color: #577d3b;
}
.admonition.attention .admonition-title:before {
  color: #7baf55;
}
.admonition.caution,
.admonition.warning {
  background-color: #fff0e5;
  border-color: #ff6600;
}
.admonition.caution .admonition-title,
.admonition.warning .admonition-title {
  color: #ff6600;
}
.admonition.caution .admonition-title:before,
.admonition.warning .admonition-title:before {
  color: #ff6600;
}
.admonition.note,
.admonition.important {
  background-color: #fffdf3;
  border-color: #dab200;
}
.admonition.note .admonition-title,
.admonition.important .admonition-title {
  color: #745f00;
}
.admonition.note .admonition-title:before,
.admonition.important .admonition-title:before {
  color: #dab200;
}
.admonition.tip,
.admonition.hint {
  background-color: #e8f8ff;
  border-color: #74bbe8;
}
.admonition.tip .admonition-title,
.admonition.hint .admonition-title {
  color: #1c71a7;
}
.admonition.tip .admonition-title:before,
.admonition.hint .admonition-title:before {
  color: #329bdd;
  content: '\E344';
  font-size: 14px;
  top: 2px;
}
.admonition.error,
.admonition.danger,
.admonition.deprecated {
  background-color: #ffebeb;
  border-color: #d18080;
}
.admonition.error del,
.admonition.danger del,
.admonition.deprecated del {
  color: #dea5a5;
}
.admonition.error .admonition-title,
.admonition.danger .admonition-title,
.admonition.deprecated .admonition-title {
  color: #bc4848;
}
.admonition.error .admonition-title:before,
.admonition.danger .admonition-title:before,
.admonition.deprecated .admonition-title:before {
  color: #bc4848;
}
.admonition.danger .admonition-title:before {
  content: '\E291';
}
.admonition.deprecated .admonition-title:before {
  content: '\E565';
  top: 1px;
}
table,
.ref-tbl,
.field-list {
  border: 1px solid #329bdd;
  border-collapse: collapse;
  margin: 15px 0;
}
table th,
.ref-tbl th,
.field-list th,
table td,
.ref-tbl td,
.field-list td {
  border-bottom: 1px dotted;
  font-size: 12px;
  padding: 10px;
  vertical-align: top;
}
table th,
.ref-tbl th,
.field-list th {
  background-color: #329bdd;
  border-bottom-width: 0;
  border-right-color: #74bbe8;
  color: #ffffff;
  font-weight: normal;
}
table td,
.ref-tbl td,
.field-list td {
  background-color: #ffffff;
  border-bottom-color: #dbdbdb;
}
table ul,
.ref-tbl ul,
.field-list ul,
table p,
.ref-tbl p,
.field-list p {
  margin: 0;
}
table ul,
.ref-tbl ul,
.field-list ul {
  list-style-type: square;
  list-style-position: inside;
  margin-left: 20px;
}
table .last th,
.ref-tbl .last th,
.field-list .last th,
table .last td,
.ref-tbl .last td,
.field-list .last td {
  border-bottom: 0;
}
.field-list th {
  border-bottom-color: #74bbe8;
  border-bottom-width: 1px;
  text-align: right;
}
.code,
.highlight-apache,
.highlight-ee,
.highlight-bash,
.highlight-ci,
.highlight-html,
.highlight-js,
.highlight-json,
.highlight-md,
.highlight-none,
.highlight-perl,
.highlight-php,
.highlight-rst {
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  margin: 15px 0;
  padding: 10px;
}
.code pre,
.highlight-apache pre,
.highlight-ee pre,
.highlight-bash pre,
.highlight-ci pre,
.highlight-html pre,
.highlight-js pre,
.highlight-json pre,
.highlight-md pre,
.highlight-none pre,
.highlight-perl pre,
.highlight-php pre,
.highlight-rst pre {
  font-size: 12px;
  line-height: 1.5;
  tab-size: 4;
  white-space: pre-wrap;
}
.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* PHP function name */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight .k,
.highlight .o,
.highlight .cp,
.highlight .cs,
.highlight .gs,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .nc,
.highlight .ne,
.highlight .nf,
.highlight .ow {
  font-weight: bold;
}
.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs,
.highlight .ge {
  font-style: italic;
}
.highlight .c {
  color: #999988;
}
.highlight .err {
  color: #ea2201;
  background-color: #ffd8d2;
}
.highlight .k {
  color: #11509f;
}
.highlight .o {
  color: #ea2201;
}
.highlight .cm {
  color: #999988;
}
.highlight .cp {
  color: #b5b5b5;
}
.highlight .c1 {
  color: #999988;
}
.highlight .cs {
  color: #b5b5b5;
}
.highlight .gd {
  color: #000000;
}
.highlight .gr {
  color: #ea2201;
}
.highlight .gh {
  color: #b5b5b5;
}
.highlight .gi {
  color: #000000;
}
.highlight .go {
  color: #b5b5b5;
}
.highlight .gp {
  color: #8f8f8f;
}
.highlight .gu {
  color: #c2c2c2;
}
.highlight .gt {
  color: #ea2201;
}
.highlight .kt {
  color: #1873e4;
}
.highlight .m {
  color: #448eeb;
}
.highlight .mi {
  color: #1873e4;
}
.highlight .s {
  color: #1873e4;
}
.highlight .na {
  color: #199366;
}
.highlight .nb {
  color: #9100e4;
}
.highlight .nc {
  color: #1873e4;
}
.highlight .no {
  color: #199366;
}
.highlight .ni {
  color: #9100e4;
}
.highlight .ne {
  color: #ea2201;
}
.highlight .nf {
  color: #9100e4;
}
.highlight .nn {
  color: #8f8f8f;
}
.highlight .nt {
  color: #ea2201;
}
.highlight .nv {
  color: #199366;
}
.highlight .nx {
  color: #b66b09;
}
.highlight .p {
  color: #9100e4;
}
.highlight .w {
  color: #f1f1f1;
}
.highlight .mf {
  color: #448eeb;
}
.highlight .mh {
  color: #448eeb;
}
.highlight .mi {
  color: #448eeb;
}
.highlight .mo {
  color: #448eeb;
}
.highlight .sb {
  color: #1873e4;
}
.highlight .sc {
  color: #1873e4;
}
.highlight .sd {
  color: #999988;
}
.highlight .s2 {
  color: #1873e4;
}
.highlight .se {
  color: #1873e4;
}
.highlight .sh {
  color: #1873e4;
}
.highlight .si {
  color: #1873e4;
}
.highlight .sx {
  color: #1873e4;
}
.highlight .sr {
  color: #20bf84;
}
.highlight .s1 {
  color: #1873e4;
}
.highlight .ss {
  color: #1873e4;
}
.highlight .bp {
  color: #b5b5b5;
}
.highlight .vc {
  color: #199366;
}
.highlight .vg {
  color: #199366;
}
.highlight .vi {
  color: #199366;
}
.highlight .il {
  color: #448eeb;
}
@media screen and (min-width: 750px) {
  .left,
  .right {
    display: inline;
    float: left;
  }
  .right {
    float: right;
  }
  .mr {
    margin-right: 10px;
  }
  .wrap {
    padding: 20px 0 0;
  }
  .col-group {
    margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
  }
  .col-group:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    visibility: hidden;
  }
  .col {
    margin-bottom: 0;
    padding: 0 10px;
    display: inline;
    float: left;
  }
  .box .col {
    padding: 0;
  }
  .align-right > .col {
    display: inline;
    float: left;
    float: right;
  }
  .w-1 {
    width: 6.25%;
  }
  .w-2 {
    width: 12.5%;
  }
  .w-3 {
    width: 18.75%;
  }
  .w-4 {
    width: 25%;
  }
  .w-5 {
    width: 31.25%;
  }
  .w-6 {
    width: 37.5%;
  }
  .w-7 {
    width: 43.75%;
  }
  .w-8 {
    width: 50%;
  }
  .w-9 {
    width: 56.25%;
  }
  .w-10 {
    width: 62.5%;
  }
  .w-11 {
    width: 68.75%;
  }
  .w-12 {
    width: 75%;
  }
  .w-13 {
    width: 81.25%;
  }
  .w-14 {
    width: 87.5%;
  }
  .w-15 {
    width: 93.75%;
  }
  .w-16 {
    width: 100%;
  }
  .w-3rds {
    width: 33.33%;
  }
  .sidebar {
    position: relative;
    z-index: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .sidebar .folder-list li ul {
    display: none;
  }
  .sidebar .folder-list li:hover ul {
    display: block;
  }
  .docs-content {
    padding: 0;
  }
  .docs-header {
    padding-bottom: 0;
  }
  .docs-header h1 {
    font-size: 24px;
  }
  .docs-header .small-menu {
    display: none;
  }
  .docs-header .search {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .docs-header .search input[type='text'] {
    font-size: 14px;
  }
}
